*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.page1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position:relative;
    
}

.page1 nav{
    background-color: black;
}

nav ul li a{
    color: white;
}

.nav{
    display:flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

nav{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 999;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 50px;
    font-size: 20px;
    vertical-align: middle;
}

nav ul li a:hover{
    color: red;
}

.Home{
    margin-left: 8%;
}

.Home h3{
    font-size: 30px;
    text-align: left; 
    padding-bottom: 7%;
    padding-top: 8%;
}

.Home h3 span{
    color: red;
    text-decoration: underline;
    font-weight: bolder;
}

.Home h1{
    margin-left: 200px;
    font-size: 40px;
}

.myName{
    color: red;
    position: relative;
}

.Home h4{
    margin-top: 30px;
    margin-left: 250px;
    font-size: 30px;
}

.Home h4 span{
    color: red;
    font-style: italic;
    font-size: 35px;
}

.hire{
    margin-left: 200px;
    margin-top: 70px;
    height: 60px;
    width: 160px;
    border-radius: 10px;
    background: black;
    color: white;
    transition: 0.3s;
    font-size: larger;
}

.hire:hover{
    cursor: pointer;
    background: none;
    color: black;
    transition: 0.3s;
}

.Home a{
    margin-left: 180px;
}

.page2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #e5e7ed;
    position:relative;
}

.columns{
  float: left;
  width: 50%;
  margin-top: 100px;
}

.columns img{
    height: 20%; 
    width: 20%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
    transition: 0.5s;
}

.columns img:hover{
    transition: 0.5s;
    transform: scale(111.5%);
}

.Resume{
    height: 50px;
    width: 200px;
    background: #0000CC;
    color: white;
    border-radius: 15px;
    margin-top: 50px;
    transition: 0.5s;
}

.Resume:hover{
    background: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    transition: 0.5s;
    border: none;
}

.container{
    box-sizing: border-box;
    width: 90%;
    background-color:rgb(201, 200, 200);
    border-radius: 0.4rem;
}

.skill{
    text-align: right;
    color: black;
    vertical-align: middle;
    border-radius: 0.4rem;
}

.cpp {width: 90%; background-color: red; height: 10px;}
.py {width: 70%; background-color: #aa0404; height: 10px;}
.ps {width: 60%; background-color: blue; height: 10px;}
.git {width: 80%; background-color: #04AA6D; height: 10px;}
.webd {width: 85%; background-color: #aa6d04; height: 10px;}
.ros {width: 90%; background-color: #aa044c; height: 10px;}

.page3{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position:relative;
}

.divide{
    float: left;
    width: 30%;
    margin-top: 100px;
}

.divide .tictactoe{
    height: 450px;
    width: 450px;
    background: #ffa07a;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
    background-image: url(assets/tictaoe.png);
}

.tictactoe:hover{
    background: #474444;
    color: #FFFAF0;
    transition: 0.4s;
    transform: scale(110%);
    cursor: pointer;
    background-image: url(assets/tictactoe-ii.png);
}

.tictactoe h1{
    font-size: 40px;
    font-weight:bolder;
    text-decoration: underline;
}

.tictactoe p{
    font-size: 25px;
    padding: 20px;
    font-weight: bold;
}

.divide .travel{
    height: 450px;
    width: 450px;
    /* background: red; */
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
    background-image: url(assets/travel\(i\).jpg);
    color: white;
    opacity: 70%;
}

.travel:hover{
    /* background: #202020; */
    color: #FFFAF0;
    transition: 0.4s;
    transform: scale(110%);
    cursor: pointer;
    background-image: url(assets/travel\(ii\).jpg);
    opacity: 100%;
}

.travel h1{
    font-size: 40px;
    font-weight:bolder;
    text-decoration: underline;
}

.travel p{
    font-size: 25px;
    padding: 20px;
    font-weight: bold;
    opacity: 100%;
}

.divide .primeplayer{
    height: 450px;
    width: 450px;
    background: red;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
}

.primeplayer:hover{
    background: #202020;
    color: #FFFAF0;
    transition: 0.4s;
    transform: scale(110%);
    cursor: pointer;
}

.primeplayer h1{
    font-size: 35px;
    font-weight:bolder;
    text-decoration: underline;
}

.primeplayer p{
    font-size: 25px;
    padding: 20px;
}

.page4{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #202020;
    position:relative;
    color: white;
}

.Contact h4{
    padding: 3%;
    color: aqua;
}

.Contact form input{
    width: 500px;
    height: 40px;
    margin-top: 5px;
}

form input{
    background: black;
    border: none;
    border-radius: 2%;
    color: white;
    padding: 10px 15px;
    box-sizing: border-box;
}

form input::placeholder{
    color: white;
    padding-left: 3%;
}

form textarea{
    background: black;
    width: 500px;
    margin-top: 5px;
    border: none;
    border-radius: 2%;
    color: white;
    padding: 10px 15px;
    box-sizing: border-box;
}

textarea::placeholder{
    color: white;
    padding: 5%
}


form input[type=button]{
    background: black;
    color: white;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    margin-top: 50px;
    transition: 0.3s;
}

input[type=button]:hover{
    background: none;
    border: solid white;
    color: #CC0000;
    cursor: pointer;
    font-size: 25px;
    transform: scale(115%);
    transition: 0.3s;
}

.links{
    margin-top: 50px;
}

.links a img{
    height: 50px;
    width: 50px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.links a img:hover{
    cursor: pointer;
    transform: scale(120%);
    transition: 0.3s;
}